<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta charset="utf-8"/>
    <title>Livia Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 页头部分-->
  <div class="row">
    <div class="header">
        <div class="header_box">
            <input class="mysearchbox" type="text" maxlength="100">
            <input class="myselfbox" type="button" maxlength="100" value="   Glad to see you~">
            <div class="mywelcome">
                欢迎来到 <span style="font-size: 20px; line-height: 26px; font-weight: bold; color: #1a1; text-align: center;">Livia</span> 的个人空间
            </div>
        </div>
        <div class="header_content">
            <p class="saying" id="saying">
                每一次面临重要的选择，如同一个将要学走路的孩子.<br>
                不要怕，大胆迈出第一步就好。<br>
                会摔吗？会的，而且不止摔一次。<br>
                会走错吗？当然会，一定会，而且不只错一次。<br>
                那为什么还要走呢？<br>
                因为生命应该用来体验和发现，迟暮之前，我们都是需要发育的孩子。<br>
            </p>
            <div class="portrait">
                <a href="#"><img src="images/portrait.jpeg"></a>
            </div>
        </div>
    </div>
    </div>
    <!--导航条-->

    <div class="nav">
        <ul class="navbar row">
          <div class="col-md-2 col-md-offset-1">
            <li><a href="main.html"><img src="images/home.png"><br>首页</a></li>
          </div>
          <div class="col-md-2">
            <li><a href="#m-info"><img src="images/info.png"><br>成长脚印</a></li>
          </div>
          <div class="col-md-2">
            <li><a href="#m-life"><img src="images/view.png"><br>路上风景</a></li>
          </div>
          <div class="col-md-2">
            <li><a href="#m-diary"><img src="images/dairy.png"><br>时光轴</a></li>
          </div>
          <div class="col-md-2">
            <li><a href="#m-share"><img src="images/dia.png"><br>分享域</a></li>
          </div>
        </ul>
    </div>
    <!--主体部分-->
    <div class="section">
        <!------------------------------成长脚印---------------------------------->
        <div class="footprint">
            <!--锚点连接-->
            <a name="m-info"></a>
            <div class="content-intro">
                <div class="intro-wrapper container">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <p class="content-title">成长脚印</p>
                    </div>
                  </div>
                    <div class="sidetop row">
                        <ul>
                          <div class="col-md-2 col-md-offset-1">
                            <li onmousemove="showpic(this)" onmouseout="hidepic(this)">
                                <hr>1991
                                <ul>
                                    <img src="images/born.png">
                                    <p>出生</p>
                                </ul>
                            </li>
                          </div>
                          <div class="col-md-2">
                            <li onmousemove="showpic(this)" onmouseout="hidepic(this)">
                                <hr>1998
                                <ul>
                                    <img src="images/child.png">
                                    <p>小学</p>
                                </ul>
                            </li>
                          </div>
                          <div class="col-md-2">
                            <li onmousemove="showpic(this)" onmouseout="hidepic(this)">
                                <hr>2004
                                <ul>
                                    <img src="images/middle.png">
                                    <p>中学</p>
                                </ul>
                            </li>
                          </div>
                          <div class="col-md-2">
                            <li onmousemove="showpic(this)" onmouseout="hidepic(this)">
                                <hr>2010
                                <ul>
                                    <img src="images/university.png">
                                    <p>大学</p>
                                </ul>
                            </li>
                          </div>
                          <div class="col-md-2">
                            <li onmousemove="showpic(this)" onmouseout="hidepic(this)">
                                <hr>2014
                                <ul>
                                    <img src="images/work.png">
                                    <p>工作</p>
                                </ul>
                            </li>
                          </div>
                        </ul>
                    </div>
                    <!----------- 关于爱好 ------------>
                    <div class="mine_faith">
                      <p>
                        <img src="images/hua.png"><b>O</b>nce you see the faith,you get hope...
                      </p>
                      <div class="row">
                        <div id="slide_box">
                            <div id="slider">
                                <ul id="imgs">
                                </ul>
                                <ul id="idxs">
                                </ul>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    <!------------------------路上 风景------------------------>
        <div class="scenery">
            <a name="m-life"></a>
            <div class="content-life">
                <div class="intro-wrapper container">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <p class="content-title">路上风景</p>
                    </div>
                  </div>

                    <div class="lifetime">
                      <div class="row">
                        <ul id="tag">
                          <div class="col-md-2 col-md-offset-1">
                            <li>
                                <hr>1991<br><span>恩施</span>
                            </li>
                          </div>
                          <div class="col-md-2">
                            <li>
                                <hr>1998<br><span>无锡</span>
                            </li>
                          </div>
                          <div class="col-md-2">
                            <li>
                                <hr>2014<br><span>深圳</span>
                            </li>
                          </div>
                          <div class="col-md-2">
                            <li>
                                <hr>2015<br><span>厦门</span>
                            </li>
                          </div>
                          <div class="col-md-2">
                            <li>
                                <hr>未来时<br><span>巴黎</span>
                            </li>
                          </div>
                        </ul>
                      </div>
                        <div id="tagContent">
                            <div class="lifecon1">
                                <p>-- 我的家乡 --<br>
                                    恩施，湖北省唯一少数民族自治州，享有“鄂西林海”、 “华中药库”、 “烟草王国”、“世界硒都”之称号。</p>
                            <div class="row">
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/es_dxg.jpg"><br>
                                    百里绝壁、千丈瀑布、傲啸独峰、远古村寨
                                    <li>恩施大峡谷</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/en_nec.jpg"><br>
                                    摔碗酒、摆手舞、小吃街、民族情
                                    <li>女儿城</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/es_tsc.jpg"><br>
                                    吐司城墙、鼓楼、钟楼、卧虎铁索桥
                                    <li>吐司城</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/es_fxp.jpg"><br>
                                    侗族文化、西兰卡普、玉露茶园
                                    <li>枫香坡</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/en_llg.jpg"><br>
                                    喀斯特地貌，流泉飞溅，云封雾锁
                                    <li>龙鳞宫</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/es_sby.jpg"><br>
                                    天然石林，气势磅礴
                                    <li>梭布垭石林</li>
                                </ul>
                              </div>
                            </div>
                              <br>
                                <p>-- 喜爱这里的民族特色--<br>
                                    苗族，土家族，侗族的民族文化集于一体，建筑，美食，织布...
                                </p>
                            </div>

                            <div class="lifecon2">
                                <p>-- 第二故乡 --<br>
                                    无锡，自古就是鱼米之乡，素有布码头、钱码头、窑码头、丝都、米市之称，是中国国家历史文化名城。
                                </p>
                              <div class="row">
                                <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/wx_taihu.jpg"> <br/>
                                    是迷人的风光，亦是供养无锡人的生命之源
                                    <li>太湖鼋头渚</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/wx_my.jpg"> <br/>
                                    老藤、古梅、新桂、奇石
                                    <li>梅园</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/wx_sgc1.jpg"> <br/>
                                    影视基地，赤壁栈道，姑苏东吴
                                    <li>三国城，水浒城</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/wx_zz.jpg"> <br/>
                                    温婉古镇，小桥流水人家
                                    <li>周庄</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/wx_ncs.jpg"> <br/>
                                    始建于梁武帝太清年间，南朝名寺，号称“江南最胜丛林”。
                                    <li>南禅寺</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/wx_zhw.jpg"> <br/>
                                    品茗、听琴、闻香、观水、禅意
                                    <li>拈花湾</li>
                                </ul>
                              </div>
                            </div>
                             <br/>
                                <p>-- 喜爱无锡的人文气息 --<br>
                                    是寺是河，是诗是画，是石径是帆船，是早起无锡卫视传唱之歌，是吴侬软语的耳鬓厮磨。
                                </p>
                            </div>

                            <div class="lifecon3">
                                <p>-- 工作初到之地 --<br>
                                    深圳，经济特区，且享有“设计之都”、“钢琴之城”、“创客之城”等美誉。
                                </p>
                              <div class="row">
                                <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/sz_sjzc.jpg"><br/>
                                    世界名建筑之缩影，‘环游世界’
                                    <li>世界之窗</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/sz_hsl.jpg"><br/>
                                    晚风拂面，与香港隔海相望
                                    <li>红树林</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/sz_dms.jpg"><br/>
                                    面朝大海，春暖花开
                                    <li>大梅沙海湾</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/sz_hqc.jpg"><br/>
                                    从东部到西部，花开满地，欢乐游园
                                    <li>华侨城</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/sz_xz.jpg"><br/>
                                    带上单反，骑上单车，随手便是一张桌面
                                    <li>荷兰花卉小镇</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/sz_dfyhc.jpg"><br/>
                                    色彩鲜艳的油画临街而展，频频驻足，却怎么也看不够
                                    <li>大芬油画村</li>
                                </ul>
                              </div>
                            </div>
                              <br/>
                                <p>-- 喜爱深圳飞速发展的不仅仅是经济，还有人文--<br>
                                    城市规划大到商业中心，小到街边花木，无不赏心悦目
                                </p>
                            </div>

                            <div class="lifecon4">
                                <p>-- 说走就走的旅行 --<br>
                                    厦门，北邻南安，东南与大小金门和大担岛隔海相望，是闽南地区的主要城市之一，与漳州、泉州并称“厦漳泉”，闽南金三角经济区。
                                </p>
                             <div class="row">
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/xm_hdl.jpg"></br>
                                    单车骑行，海风扑面，一面是干净的路景，一面是望不到边的海
                                    <li>环岛路</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/xm_gly.jpg"></br>
                                    阳光与美景同在，心情怎能不好？
                                    <li>鼓浪屿</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/xm_zsl.jpg"></br>
                                    步行街，繁华市区，建筑仍保留旧时模样
                                    <li>中山路</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/xm_hdsj.jpg"></br>
                                    玻璃长廊，仿佛置身海底，忽而有鱼扑面而来
                                    <li>海底世界</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/xm_ft.jpg"></br>
                                    游乐王国，高科技的主题公园
                                    <li>方特度假王国</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/xm_jgh.jpg"></br>
                                    林区山形如“湖”状而得名，原始森林
                                    <li>金光湖</li>
                                </ul>
                              </div>
                            </div>
                          </br>
                                <p>-- 喜爱厦门恣意悠闲热爱生活的姿态--<br>
                                    有海，有风铃，有信纸，有藤蔓，有转角精心设计的门店，走进去是不一样的世界。
                                </p>
                            </div>

                            <div class="lifecon5">
                                <p>-- 最想去的旅游城市 --<br>
                                    巴黎（Paris），法国的首都，是欧洲第二大城市，誉为时尚之都，世界花都,浪漫之都，艺术之都。
                                </p>
                            <div class="row">
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/bl1.png"><br/>
                                    巴黎的标志之一，俗称“铁娘子”。
                                    <li>埃菲尔铁塔</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/bl2.png"><br/>
                                    出征、胜利、和平、抵抗
                                    <li>凯旋门</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/bl3.png"><br/>
                                    世界四大博物馆之首，藏有各国艺术珍品
                                    <li>卢浮宫</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/bl4.png"><br/>
                                    哥特式建筑，宗教、文化、建筑艺术
                                    <li>巴黎圣母院</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/bl5.png"><br/>
                                    法国北部大河，全长780公里
                                    <li>塞纳河畔</li>
                                </ul>
                              </div>
                              <div class="col-md-4">
                                <ul class="life-pic">
                                    <img src="images/bl6.png"><br/>
                                    世界五大宫殿之一，豪华富丽
                                    <li>凡尔赛宫</li>
                                </ul>
                              </div>
                            </div>
                            <br/>
                                <p>-- 喜爱巴黎的梦幻 --<br/>
                                    巴黎不仅仅是个地方，它已经成了一种精神状态。无论你是谁，都可以在这个既怀旧又前卫，既宁静又喧嚣，既国际化又本土化的城市找到自己需要的那一剂量心灵解药，到过巴黎的，一定不会再稀罕天堂
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!------------------------时光轴------------------------>
        <div class="timeline">
            <a name="m-diary"></a>
            <div class="content-diary">
                <div class="diary-wrapper container">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <p class="content-title">时光轴</p>
                    </div>
                  </div>
                    <div class="diary-main">
                        <div class="diary-year">
                            <div class="years">
                                <a href="#">2016年<i></i></a>
                            </div>
                            <div class="diary-list">
                                <ul>
                                  <li class="cls">
                                      <p class="date">今后之路？</p>
                                      <p class="intro">坚持自己的选择</p>
                                      <p class="version">&nbsp;</p>
                                      <div class="more">
                                          <p>至于工作，还是那句话，守的云开见日明。</p>
                                      </div>
                                  </li>
                                    <li class="cls highlight">
                                        <p class="date">6月28日</p>
                                        <p class="intro">达内培训结束</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>路漫漫其修远兮，培训的结束只是学习的开始。</p>
                                            <p>回过头看，突然想起四个月前，我还以为这四个月很长，实质也不过一眨眼，所学知识自然是冰山一角，需不断前行。</p>
                                        </div>
                                    </li>
                                    <li class="cls">
                                        <p class="date">3月15日</p>
                                        <p class="intro"> 一个同桌，一个朋友。</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p> 很庆幸遇见同桌，彼此熟悉下来，志同道合，在前端的道路上共同努力。</p>
                                        </div>
                                    </li>
                                    <li class="cls  highlight">
                                        <p class="date">3月7日</p>
                                        <p class="intro">开启正式培训。</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p> 包括四个阶段的学习，分别是html+css，javascript，jQuery+http+Ajax，框架（Bootstrap+AnjularJS+jQueryMobile）</p>
                                        </div>
                                    </li>
                                    <li class="cls highlight">
                                        <p class="date">2月23日</p>
                                        <p class="intro">开始达内训练营</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>多方比较之后，决定在达内试听前端课程。</p>
                                            <p>从零代码基础到菜鸟了解的过程，欣然发现自己是发自内心接收的。</p>
                                        </div>
                                    </li>
                                    <li class="cls">
                                        <p class="date">01月18日</p>
                                        <p class="intro">离开深圳</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>结束第一份工作</p>
                                            <p>告别了深圳的一切，同事，室友，以及两个我最好的朋友。</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="diary-year">
                            <div class="years">
                                <a href="#">2015年<i></i></a>
                            </div>
                            <div class="diary-list">
                                <ul>
                                    <li class="cls">
                                        <p class="date">12月5日</p>
                                        <p class="intro">厦门</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>与闺蜜来一场说走就走的旅行，美美的心情在鼓浪屿悠闲的阳光下恣意散开。</p>
                                        </div>
                                    </li>
                                    <li class="cls highlight">
                                        <p class="date">10月31日</p>
                                        <p class="intro">肇庆</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>公司组织集体出游</p>
                                            <p>带了一个闺蜜，为期三天的跟团游，总体还算不错，开心。</p>
                                        </div>
                                    </li>
                                    <li class="cls">
                                        <p class="date">7月</p>
                                        <p class="intro">香港</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>初到香港，游玩了海洋公园，看了夜景。总体感觉，餐饮消费高，但其他物价因为免税缘故都相对便宜。</p>
                                        </div>
                                    </li>
                                    <li class="cls highlight">
                                        <p class="date">4月25日</p>
                                        <p class="intro">北京</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>公司组织去北京参加模型展</p>
                                            <p>在经济不景气的当下，这届模型展算成功，收获到一些重要客户；白天太忙，只能利用晚上时间游玩，任性了一次，坐着的士从二环到四环再到二环，看京城夜景。</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="diary-year">
                            <div class="years">
                                <a href="#">2014年<i></i></a>
                            </div>
                            <div class="diary-list">
                                <ul>
                                    <li class="cls highlight">
                                        <p class="date">7月</p>
                                        <p class="intro">前往深圳</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>十天内敲定住处，且先后面试五份工作，四家成功，最终综合决定去离家近的模型公司上班。</p>
                                            <p>我喜欢这个节奏，靠自己，心有牵挂，身边有朋友。</p>
                                        </div>
                                    </li>
                                    <li class="cls">
                                        <p class="date">6月25日</p>
                                        <p class="intro">毕业典礼</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>我们毕业了。</p>
                                        </div>
                                    </li>
                                    <li class="cls">
                                        <p class="date">6月21日</p>
                                        <p class="intro">毕业聚会</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>可以不必称呼为散伙饭。</p>
                                            <p>记不清喝了多少吃了多少说过那些话，心情五味杂全，但却深深记得班主任最后说的那句，将来无论财富多少，快乐就好。</p>
                                        </div>
                                    </li>
                                    <li class="cls">
                                        <p class="date">6月20日</p>
                                        <p class="intro">论文答辩</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>与很多人一样，修改的过程很曲折，幸而结果是好的，付出是有回报的。</p>
                                        </div>
                                    </li>
                                    <li class="cls">
                                        <p class="date">5月5日</p>
                                        <p class="intro">返校</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>开始一心修改论文。</p>
                                        </div>
                                    </li>
                                    <li class="cls highlight">
                                        <p class="date">4月30日</p>
                                        <p class="intro">实习结束</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>结束当天与闺蜜相约，次日即去往心向已久的乌镇游玩。</p>
                                            <p>彼时途中遇雨，短短几天虽未能尽兴，但心情得以放松，记忆美好。</p>
                                        </div>
                                    </li>
                                    <li class="cls highlight">
                                        <p class="date">2月12日</p>
                                        <p class="intro">赴广东实习</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>当时懵懂时，总要对眼下迷茫，后又恍然。</p>
                                            <p>突然做了这个决定，接受校招实习机会，与三五个同学同去一家包装公司实习外贸。</p>
                                        </div>
                                    </li>

                                    <li class="cls">
                                        <p class="date">1月</p>
                                        <p class="intro">总在不经意的年生。回首彼岸，纵然发现光景绵长。</p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>何如薄幸锦衣郎，比翼连枝当日愿。</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="diary-year">
                            <div class="years">
                                <a href="#">2013年以前<i></i></a>
                            </div>
                            <div class="diary-list">
                                <ul>
                                    <li class="cls">
                                        <p class="date">&nbsp;</p>
                                        <p class="intro">俱往矣，数风流人物，还看今朝。 </p>
                                        <p class="version">&nbsp;</p>
                                        <div class="more">
                                            <p>记忆散落各处，回首时，大约零星点点，心怀感恩，目光向前。</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!------------------------分享域------------------------>
        <div class="shareSpace">
            <a name="m-share"></a>
            <div class="content-words">
                <div class="words-wrapper">
                    <p class="content-title">分享域</p>
                    <ul id="accordion">
                        <li>
                            <ul class="d1">
                                <p class="d1-tit d1-1">
                                    关<br>于<br>前<br>端
                                </p>
                                <div class="d1-con">
                                    <p>我是个web前端新手，一个新的不能再新的新手。目前来看，没经验，没技术，没创新，唯一有的是心里逐渐增长的热爱所带来的动力。</p>
                                    <p>有人好奇，为何我大学没选相关专业？为何毕业没有立刻选择转行？没有如果。六年前，我不具备眼下的认知也无人给予指引，两年前，若不试试，又怎会知道适不适合呢？我并不后悔过去经历，反而感谢，如今的选择，选对方向相信永远不晚。</p>
                                    <p>做前端，看似容易，实则不易，这趟水很深，幸而兴趣使然，让能始终。</p>
                                    <p>技术更新很快，眼光要长远，要有与时俱进的准备及虚心学习的状态，可谓‘博爱’。譬如前端开发的框架，也许每个公司有每个公司自己的框架，了解其一，永远不知其二，但套路大概万变不离其宗。</p>
                                    <p>每每看到技术大牛对问题给出的快速反应，精辟的算法，原理理解之透彻，严谨的思维方式...我都敬佩不已。也提醒着我自己，学知识要学本质，积累经验便是积累对问题的条件反射的解决力。</p>
                                    <p>其实，还是看自己。</p>
                                    <p>我依然相信‘守得云开见日明’。</p>
                                </div>
                            </ul>
                        </li>
                        <li>
                            <ul class="d2">
                                <p class="d1-tit d2-2">
                                    推<br>荐<br>书<br>籍<br>
                                </p>
                                <div class="d2-con">
                                  <p>入门：</p>
                                  《深入浅出JavaScript》-- Christion Heilmann<br>
                                  《JavaScript DOM编程艺术》-- Jeremy Keith<br>
                                  <p>进阶：</p>
                                  《ppk谈JavaScript》-- Peter-PaulKoch<br>
                                  《精通JavaScript》-- JohnResig<br>
                                  《JavaScript 权威指南》-- 第6版<br>
                                  <p>高级：</p>
                                  《JavaScript语言精粹》-- Douglas Crockford<br>
                                  《JavaScript设计模式》-- Rossharmes<br>
                                  《Secrets of the JavaScript Ninja》-- JohnResig<br>
                                  《高性能JavaScript》-- NicholasC.Zakas
                                </div>
                            </ul>
                        </li>
                        <li>
                            <ul class="d3">
                                <p class="d1-tit d3-3">
                                    爱<br>好<br>分<br>享
                                </p>
                                <div class="d3-con">
                                    <p>音乐：</p>
                                    《the rain》--舒缓而又绵长的曲音像极了一种怀旧的诉说<br>
                                    《思乡曲》-- 理查德作品中我的最爱没有之一<br>
                                    《罗克地亚狂想曲》-- 欢快而激烈的曲风<br>
                                    <p>书籍：</p>
                                    《乖，摸摸头》--忽晴忽雨的江湖，愿你有梦为马，随处可栖 <br>
                                    《做一个刚刚好的女子》-- 不攀附，不将就<br>
                                    《人性的弱点》-- 你若不开心，坐直你的身子，满腔激情假装很开心，渐渐就真的开心起来。<br>
                                    <p>其他于我：</p>
                                      窗前一盆小绿植，照顾它，看它发芽，开花<br>
                                      插花，练字，吃一点喜爱的美食，都是抚慰心情不错的选择<br>
                                </div>
                            </ul>
                        </li>
                        <li>
                            <ul class="d4">
                                <p class="d1-tit">
                                    相<br>信<br>自<br>己
                                </p>
                                <div class="d4-con">
                                    <img class="mind1" src="images/mind-1.png">
                                    <img class="mind2" src="images/mind-2.png">
                                    <p>Do what you can, with what you have, where you are.<br>Life always has two sides, choose yours.</p>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--返回顶部-->
    <div class="totop"><a></a></div>
  <script type="text/javascript" rel="script" src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script type="text/javascript" rel="script" src="js/main_1.js"></script>
  <script type="text/javascript" rel="script" src="js/main_2.js"></script>
</body>
</html>
